<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<link href="https://fonts.googleapis.com/css?family=Oleo+Script:400,700" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Teko:400,700" rel="stylesheet">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  
<section id="contact">
			<div class="section-content m-5 rounded">
				<h1 class="section-header">Plan an event with <span class="content-header " data-wow-delay="0.2s" data-wow-duration="2s"> Econnect</span></h1>
				<h3 class= " subt">Sign up today!</h3>
			</div>
			<div class="container w-50 shadow-lg round flex-d margin-top-5">
                <div class="row  justify-content-center">
                    <div class="contact-section p-1 m-3 w-50 ">
                    
                        <form class="signup ">
                            <div class="col-md-12">
                                <div class="form-group ">
                                    <label class= "subt1" for="first_name">First Name</label>
                                    <input type="text" class="form-control shadow-lg" id="firstname-input" placeholder="First Name">
                                </div>
                                <div class="form-group">
                                    <label class= "subt1" for="last_name">Last Name</label>
                                    <input type="text" class="form-control shadow-lg" id="lastname-input" placeholder="Last Name">
                                </div>
                                <div class="form-group">
                                    <label class= "subt1" for="exampleInputEmail1">Email</label>
                                    <input type="email" class="form-control shadow-lg" id="email-input" placeholder="Enter Email">
                                </div>
                                <div class="form-group">
                                    <label class= "subt1" for="exampleInputPassword1">Password</label>
                                    <input type="password" class="form-control shadow-lg" id="password-input" placeholder="Enter Password">
                                </div>
                                <div style="display: none" id="alert" class="alert alert-danger" role="alert">
                                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                    <span class="sr-only">Error:</span> <span class="msg"></span>
                                </div>

                                <button type="submit" class="btn btn-default"><i class="fa fa-sign-in shadow-lg" aria-hidden="true"></i>  Signup</button>

                                <br />

                                <a class="link-style" href="/login">← Already have an account? log in here</a>
                            </div>    
                        </form>
                        
                    </div>
                </div>    
            </div>    
</section>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="js/signup.js"></script>