form.signup,
form.login {
  margin-top: 50px;
}
body {
  line-height: 1.5em;
  text-align: center;
  font-family: "Noto Sans", sans-serif, "Roboto", sans-serif;
  font-size: 1em;
  color: #5f3435;
   background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.card {
  background-color: transparent !important;
  border: none !important;
}

#newEventBtn {
  color:black !important;
}
#moreEventBtn {
  color: #fff !important;
}

.content-header{
  font-family: 'Anton', sans-serif;
  color: BLACK;
  font-size: 50px;
}

.section-content {
  text-align: center;
}
#contact{
    
  font-family: 'Open Sans', sans-serif;
  padding-top: 60px;
  width: 100%;
  height: 1000px;
   background: gold; 
     color : #fff;    
}
.contact-section {
  padding-top: 40px;
}
.contact-section .col-md-6 {
  width: 50%;
}

.form-line {
  border-right: 1px solid #b29999;
}

.form-group {
  margin-top: 10px;
}
label {
  font-size: 1.8em;
  line-height: 1em;
  font-weight: normal;
}
.form-control {
  font-size: 2.4em;
  color: #080808;
}
textarea.form-control {
  height: 150px;
}

.submit {
  font-size: 2.4em;
  float: right;
  width: 150px;
  background-color: transparent;
  color: #fff;
  box-shadow: gray;
}

.submit2 {
  font-size: 1.75em;
  float: center;
  width: 150px;
  background-color: gold;
  color: black;
}

.title {
  font-size: large;
  text-align: center;
}

h2 {
  color: black;
  text-align: center;
  text-shadow: 0 1px 0 rgb(243, 97, 0), 0 2px 0 rgb(230, 109, 11);
  
}

#contact2{

    
  font-family: 'Teko', sans-serif;
padding-top: 60px;
width: 100%;

background: gold;

  color : #fff;    
}

h1 { 
  margin: 300px auto; 
  text-align: center; 
  color: black; 
  font-size: 8em; 
  transition: 0.5s; 
  font-family: Arial, Helvetica, sans-serif; 
} 

h1:hover { 
  text-shadow: 0 1px 0 rgb(243, 97, 0), 0 2px 0 rgb(230, 109, 11), 
      0 3px 0 rgb(230, 109, 11), 0 4px 0 rgb(230, 109, 11), 
      0 5px 0 rgb(230, 109, 11), 0 6px 0 rgb(240, 145, 67), 
      0 7px 0  rgb(238, 160, 96), 0 8px 0 rgb(236, 157, 82), 
      0 9px 0 rgb(238, 187, 20), 0 10px 0 rgb(236, 206, 36), 
      0 20px 30px rgba(0, 0, 0, 0.5); 
} 
